.alert {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
  gap: 8px;

  &__button {
    margin-left: auto;
    margin-right: 0;
    padding: 8px 0;
    min-width: 80px;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
  }

  &.success {
    background-color: #edf7ed;
    border: solid 1px #71a471;
    color: #71a471;

    .alert__button--confirm {
      background-color: #71a471;
      border: solid 1px #71a471;
      color: #fff;
      &:hover {
        filter: brightness(-1);
      }
    }
    .alert__button--cancel {
      background-color: #fff;
      border: solid 1px #71a471;
      color: #71a471;
    }
  }

  &.warning {
    background-color: #fff3e5;
    border: solid 1px #ef7b29;
    color: #ef7b29;

    .alert__button--confirm {
      background-color: #ef7b29;
      border: solid 1px #ef7b29;
      color: #fff;
      &:hover {
        filter: brightness(-1);
      }
    }
    .alert__button--cancel {
      background-color: #fff;
      border: solid 1px #ef7b29;
      color: #ef7b29;
    }
  }

  &.error {
    background-color: #fdeded;
    border: solid 1px #d84444;
    color: #d84444;

    .alert__button--confirm {
      background-color: #d84444;
      border: solid 1px #d84444;
      color: #fff;
      &:hover {
        filter: brightness(-1);
      }
    }
    .alert__button--cancel {
      background-color: #fff;
      border: solid 1px #d84444;
      color: #d84444;
    }
  }
}
